{{ define "main" }}

<section class="single">
    <h1 class="title">{{ .Title }}</h1>

    <hr />

    <div class="content">
    {{ if trim .Content " \n" }}
        <div class="content archive-hint">{{ .Content }}</div>
    {{ end }}
    
    {{ range .Data.Pages.ByTitle  }}
      <div class="value">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>

        {{ with .Params.tags }}
            {{ range . }}
                <a class="tags" href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        {{ end }}
      </div>
    {{ end }}

    </div>

</section>

{{ end }}
